body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}


.unorderlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(100, 101, 102);
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .border {
    width: 400px;
    border: 15px solid rgb(176, 209, 247);
    padding: 50px;
    margin: 20px;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: aliceblue;
    color: black
  }