body {
    background-color: aliceblue;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
font-size: larger;
}
a:link {
    color: rgb(114, 203, 245);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(73, 138, 243);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }